.container{
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: inset 0px 0px 43px 17px rgb(77, 71, 69);
}

 #display{
    background-color: rgb(238, 238, 238);
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 50px;
    margin: 5px;
    border-radius: 10px;
    border-top:solid 8px #323330;
    
 }

 .buttons{
    background-color: rgb(77, 112, 112);
    display: grid;
    border-bottom:1px solid #999 ;
    border-left: 1px solid #999;
    grid-template-columns: 1fr 1fr 1fr 1fr;
 }

 .buttons > div{
   border-top: 1px solid #999;
   border-right: 1px solid #999;
}

.button{
   border:0.5px solid #999;
   line-height: 50px;
   text-align: center;
   font-size: 25px;
   cursor: pointer;
   border-radius: 20px;
   box-shadow: -5px -5px 12px #ffffff, 
                5px  5px 12px  rgba(0,0,0,.16);       
   margin: 15px; 
   
  
}

#equal{
   background-color:rgb(128, 83, 38);
   color: white;
   width: 100px;
}

#equal:hover{
   background-color:black ;
}

 .button:hover{
   background-color:black;
   color: white;
   transition:0.2s ease-in-out;
}